body {
    box-sizing: border-box;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #dff6eb;
}

#projects {
    background-color: #dff6eb;
}

footer{
    background-color: #1f6645;
}

section {
    padding-top: 5rem;
}