body {
    box-sizing: border-box;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #dff6eb;
}

#projects {
    background-color: #dff6eb;
}

footer{
    background-color: #1f6645;
}

section {
    padding-top: 5rem;
}

button {
    background-color: #1f6645 !important;
}


/* section #about {
    margin: 50% 0 !important;
} */

.gallery-img {
    width: 100%;
}

#gallery .row > * {
    padding: 0;
}

@media (max-width:768px) {
    .contact-form {
        padding: 0 20px;
    }
}

@media (min-width:770px) and (max-width:992px){
    .contact-form{
        /* padding: 0 -20px; */
        width: 100%;
    }
}